@media  screen and (max-width: 760px) {
  header {
    flex-direction: column;
  }
  a {
    margin: 25px;
  }
  main {
    flex-direction: column;
  }

  h2 { 
    font-size: 38px;

  }
  form { 
    margin: 0px;
    width: 100%;
  }
  input{
    align-self: center;
  }
img {
  width: 100px;
}
ul{
  text-align: center;
}

}