@media  screen and (max-width: 760px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  a {
    margin: 10px;
    border: none;
  }

  main {
    flex-direction: column;
  }

  h2 { 
    font-size: 38px;

  }
  form { 
    margin: 0px;
    width: 100%;
  }
  input{
    align-self: center;
  }
img {
  width: 100px;
}


}