@charset "UTF-8";

@font-face {
  font-family: 'poppinsblack';
  src: url('../components/fonts/poppins-black-webfont.woff2') format('woff2'),
       url('../components/fonts/poppins-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'poppinsbold';
  src: url('../components/fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('../components/fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'poppinslight';
  src: url('../components/fonts/poppins-light-webfont.woff2') format('woff2'),
       url('../components/fonts/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'poppinsmedium';
  src: url('../components/fonts/poppins-medium-webfont.woff2') format('woff2'),
       url('../components/fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsregular';
  src: url('../components/fonts/poppins-regular-webfont.woff') format('woff2'),
       url('../components/fonts/poppins-light-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinssemibold';
  src: url('../components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('../components/fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  background-image: radial-gradient(#FDDD02, #B28202, #B26001);
  color: white;
  font-family: 'poppinsregular';
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
margin: 10px;
text-decoration: none;
color: white;
}

a:hover {
color: rgb(132, 14, 201);
transition: 0.3s;

}

#sign-in-button {
  border: 3px solid rgb(132, 14, 201);
  padding: 10px;
  border-radius: 25px;
}

#sign-in-button:hover{
background-color: rgb(132, 14, 201);
color: white;
transition: 0.3s;
}

#title {
  flex-direction: column;
  line-height: 10px;
}
h1 {
  font-weight: 200;
}
main {
display:flex;
flex-direction: row;
margin-top: 100px;
}

h2 {
  font-size: 50px;
  line-height: 10px;
  font-family: 'poppinsmedium';
}
h2 > span {
  color: rgb(132, 14, 201);
  font-size: 0.9em;
}

p {
  line-height: 20px;
max-width: 500px;
font-family: 'poppinslight';
}

img {
  max-width: 500px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"]{
  height: 50px;
  width: 50%;
  background-color: rgb(132, 14, 201);
  color: white;
}

form [type="submit"]:hover{
cursor: pointer;
}

input {
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  font-size: 15px;
  border: none;
}







